@font-face {
    font-family: 'Roboto Black';
    src: url(../src/assets/fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../src/assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(../src/assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../src/assets/pexels-amanda-linn-230957-821139.jpg)
        no-repeat center;
    background-size: cover;
    height: 220px;
}

.header_text {
    text-decoration: none;
    font-family: 'Roboto Black', Arial;
    font-size: 48px;
    letter-spacing: 2px;
    margin: 20px;
}

.link {
    text-decoration: none;
    color: white;
}

.search_settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin: auto;
}

.search_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 30px;
    position: relative;
    margin-bottom: 20px;
}

.search_box input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: 'Roboto Regular';
    color: black;
    font-size: 24px;
    padding-left: 1%;
}

.search_box input:focus {
    outline: none;
}

.search_box i {
    position: absolute;
    top: 3px;
    right: 1%;
}

.search_icon {
    background: url(../src/assets/icons8-search-50.png) no-repeat top center;
    background-size: 100%;
    width: 26px;
    height: 26px;
}

.filter_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-family: 'Roboto Regular', Arial;
    color: white;
    text-align: center;
    width: 100%;
}

.filter_box div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.filter_box span {
    font-size: 18px;
    color: white;
    margin-right: 5px;
}

.filter_box select {
    min-width: 100px;
    max-width: 200px;
    min-height: 30px;
    font-size: 16px;
    width: 55%;
    color: gray;
    border: 1px solid lightgrey;
}

.filter_box :focus {
    outline: none;
}

.found {
    font-family: 'Roboto Regular';
    font-size: 16px;
    text-align: center;
    margin: 10px 0 30px 0;
}

.all_books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px;
}

.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7%;
    width: 16%;
    min-height: 350px;
    background-color: rebeccapurple;
}

.book a {
    color: gray;
    font-family: 'Roboto Light';
}

.book_author {
    text-decoration: none;
}

.book_image {
    background-color: orange;
    width: 60%;
    height: 55%;
}

.book_info {
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book_specific_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.book_info_text {
    font-family: 'Roboto Black';
}
